*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: $white;
  color: $black;
  font: $body-font;
}

section {
  margin-bottom: 3rem;
}

.container {
  margin: 0 auto;
  max-width: 900px;
  width: 90%;

  @media #{$medium} {
    width: 100%;
  }
}
