// Headings
h1, h2, h3, h4 {
  font: $header-font;
  margin: 0;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: .8rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

// Links
a {
  color: $black;
  text-decoration: none;
}
